/* 1. LAYOUT */

#mobile-controls {
    position: fixed;
    inset: 0;
    z-index: 999999;
    pointer-events: none;
    display: none;
}

/* Top row controls */
.control-top {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    pointer-events: none;
}

/* Fullscreen right corner */
#fullscreen-btn-html {
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: auto;
    font-size: 28px;
}

/* Bottom left controls */
.control-left {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    pointer-events: auto;
    z-index: 110;
}

/* Bottom right controls */
.control-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    pointer-events: auto;
    z-index: 110;
}


/* 2. BUTTONS */

.btn-control,
.btn-action {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 32px;
    pointer-events: auto;
    touch-action: manipulation;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* UI Game Over */

#gameover-ui {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 40px;

    pointer-events: auto;
}

#gameover-ui.hidden {
    display: none;
}

#gameover-ui button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ffaa00;
    border: 2px solid black;
}

#gameover-ui button:hover {
    background-color: #ffcc00;
    border-color: #fff;
}

/* Game Over Button Animation */

.gameover-btn {
    opacity: 0;
    transform: translateY(30px) scale(0.6) rotate(-180deg);
    transition:
        opacity 0.6s ease-out,
        transform 1.5s cubic-bezier(0.22, 1.25, 0.36, 1);
}

.gameover-btn.show {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
}



@media (max-width: 600px) {

    .visible {
        display: flex;
        flex-direction: column;
    }

    th,
    td {
        padding: 1px;
    }

    .animated-bgr-content {
        padding: 0.5rem;
    }

    .animated-bgr-content p {
        font-size: 16px;
        line-height: 1.2;
        margin: 6px;
    }

    .anim-img {
        width: 40px;
        height: 40px;
    }

    kbd {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 14px;
    }

    table {
        font-size: 16px;
    }

    header,
    footer {
        height: 60px;
    }
}